<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="FigureConfigure" name="Figure Configure" schema="schema/FigureConfigure.exsd"/>

     <extension point="org.eclipse.ui.editors">
      <editor name="DPF Specification Editor"
              extensions="dpf"
              icon="shapes.gif"
              default="true"
              class="no.hib.dpf.editor.DPFEditor"
              contributorClass="no.hib.dpf.editor.DPFEditorActionBarContributor"
              id="GEF DPF Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category name="Diagram Predicate Framework"
                id="no.hib.dpf.editor"/>
      <wizard
            category="no.hib.dpf.api.wizards.dpfprojectcategory"
            class="no.hib.dpf.editor.DPFCreationWizard"
            icon="shapes.gif"
            id="no.hib.dpf.editor.DPFCreationWizard"
            name="DPF Specification Diagram">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="no.hib.dpf.editor.preferences.DPFEditorPreferencePage"
            id="no.hib.dpf.editor.preferences.DPFEditorPreferencePage"
            name="DPF Editor Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="no.hib.dpf.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="no.hib.dpf.editor.FigureConfigure">
      <NodeConfigure
            name="Choice"
            paint="no.hib.dpf.editor.extension_points.painting.ChoicePainting"
            smallicon="icons/d.jpg">
      </NodeConfigure>
      <NodeConfigure
            name="Circle"
            paint="no.hib.dpf.editor.extension_points.painting.CirclePainting"
            smallicon="icons/circle.png">
      </NodeConfigure>
      <NodeConfigure
            name="Ellipse"
            paint="no.hib.dpf.editor.extension_points.painting.EllipsePainting"
            smallicon="icons/ellipse.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/entity_32.png"
            name="Entity"
            paint="no.hib.dpf.editor.extension_points.painting.EntityPainting"
            smallicon="icons/entity_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/weakentity_32.png"
            name="WeakEntity"
            paint="no.hib.dpf.editor.extension_points.painting.WeakEntityPainting"
            smallicon="icons/weakentity_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/relationship_32.png"
            name="Relationship"
            paint="no.hib.dpf.editor.extension_points.painting.RelationshipPainting"
            smallicon="icons/relationship_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/ir_32.png"
            name="IndentifyingRelation"
            paint="no.hib.dpf.editor.extension_points.painting.IRelationshipPainting"
            smallicon="icons/ir_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/keya_32.png"
            name="KeyAttribute"
            paint="no.hib.dpf.editor.extension_points.painting.KeyAttributePainting"
            smallicon="icons/keya_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/a_32.png"
            name="Attribute"
            paint="no.hib.dpf.editor.extension_points.painting.AttributePainting"
            smallicon="icons/a_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/ma_32.png"
            name="MultivaluedAttribute"
            paint="no.hib.dpf.editor.extension_points.painting.MultivaluedAttributePainting"
            smallicon="icons/ma_16.png">
      </NodeConfigure>
      <NodeConfigure
            largeicon="icons/da_32.png"
            name="DerivedAttribute"
            paint="no.hib.dpf.editor.extension_points.painting.DerivedAttributePainting"
            smallicon="icons/da_16.png">
      </NodeConfigure>
      <ArrowConfigure
            largeicon="icons/p_32.png"
            name="ParticipationConfigure"
            paint="no.hib.dpf.editor.extension_points.painting.ParticipationPainting"
            smallicon="icons/p_16.png">
      </ArrowConfigure>
      <ArrowConfigure
            largeicon="icons/tp_32.png"
            name="TotalParticipationConfigure"
            paint="no.hib.dpf.editor.extension_points.painting.TotalParticipationPainting"
            smallicon="icons/tp_16.png">
      </ArrowConfigure>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="no.hib.dpf.editor.viewerContribution1"
            targetID="GEF DPF Editor">
         <action
               class="no.hib.dpf.editor.actions.ExportImageAction"
               id="no.hib.dpf.editor.action1"
               label="Export"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
