<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="zip">
         <run
               class="no.hib.dpf.api.zip.ZipFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="no.hib.dpf.api.wizards.dpfprojectcategory"
            name="Diagram Predicate Framework">
      </category>
      <wizard
            category="no.hib.dpf.api.wizards.dpfprojectcategory"
            class="no.hib.dpf.api.wizards.projectwizard.NewDPFProjectWizard"
            finalPerspective="no.hib.dpf.api.wizards.projectwizard.dpfperspective"
            icon="dpf.png"
            id="no.hib.dpf.api.wizards.projectwizard.dpfprojectwizard"
            name="Diagram Predicate Framework Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="no.hib.dpf.api.wizards.projectwizard.perspective.DPFPerspective"
            icon="shapes.gif"
            id="no.hib.dpf.api.wizards.projectwizard.dpfperspective"
            name="DPF Editor">
      </perspective>
   </extension>
   <extension
         id="no.hib.dpf.api.wizards.projectwizard.dpfprojectnature"
         name="DPF Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="no.hib.dpf.api.wizards.projectwizard.DPFProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
