<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtend.shared.ui.metamodelContributor">
      <metamodelContributor
            class="no.hib.dpf.codegen.xpand.ui.DpfMetaModelContributor"
            name="Diagram Predicate Framework Metamodel">
      </metamodelContributor>
   </extension>
   <extension
         id="no.hib.dpf.codegen.xpand.ui.nature.dpfmetamodelnature"
         name="DPF MetaModel Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="no.hib.dpf.codegen.xpand.ui.nature.DpfMetaModelNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="no.hib.dpf.codegen.xpand.ui.wizards.newdpfgenerator"
         name="DPF Xpand Generator"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="no.hib.dpf.editor"
            class="no.hib.dpf.codegen.xpand.ui.wizards.NewDpfGeneratorWizard"
            id="no.hib.dpf.codegen.xpand.ui.wizards.newdpfgeneratorwizard"
            name="DPF Generator Project">
      </wizard>
   </extension>

</plugin>
