<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://no.hib.dpf.transform"
            class="no.hib.dpf.transform.provider.TransformItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://no.hib.dpf.transform"
            class="no.hib.dpf.transform.TransformPackage"
            genModel="model/transform.genmodel"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="no.hib.dpf.transform.presentation.TransformModelWizardID"
            name="%_UI_TransformModelWizard_label"
            class="no.hib.dpf.transform.presentation.TransformWizardCreation"
            category="no.hib.dpf.editor"
            icon="icons/full/obj16/TransformModelFile.gif">
         <description>%_UI_TransformModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <editor
            class="no.hib.dpf.transform.presentation.TransformEditor"
            contributorClass="no.hib.dpf.transform.presentation.TransformActionBarContributor"
            default="true"
            extensions="xform"
            icon="icons/full/obj16/TransformModelFile.gif"
            id="no.hib.dpf.transform.presentation.TransformEditorID"
            name="%_UI_TransformEditor_label">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="no.hib.dpf.transform.preferences.TransformEditorPreferencePage"
            id="no.hib.dpf.transform.preferences.TransformEditorPreferencePage"
            name="Transform Editor Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="no.hib.dpf.transform.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="no.hib.dpf.verify.TranslateToAlloyHandler"
            id="no.hib.dpf.transform.toalloycommand"
            name="Translate To Alloy">
      </command>
      <command
            defaultHandler="no.hib.dpf.verify.RunAlloy"
            id="no.hib.dpf.transform.runalloy"
            name="Run Alloy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="no.hib.dpf.transform.toalloycommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="xform">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="no.hib.dpf.transform.runalloy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="als">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
