<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtend.shared.ui.metamodelContributor">
      <metamodelContributor
            class="no.hib.dpf.codegen.xpand.ui.DpfMetaModelContributor"
            name="Diagram Predicate Framework Metamodel">
      </metamodelContributor>
   </extension>

</plugin>
