<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.jdt.ui.PackageExplorer" >
               <command
                     commandId="model.parser" label="Model To Model" style="push" >
                     
                     <visibleWhen
                           checkEnabled="false">
                           <with
                                 variable="activeMenuSelection">
                                 <iterate ifEmpty="false" operator="or">
                                 <adapt
                                       type="org.eclipse.core.resources.IFile">
                                 </adapt>
                                 </iterate>
                           </with>
                     </visibleWhen>
               </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
          <command
	      	defaultHandler="no.hib.dpf.m2m.transformation.SmodltoDPFTransformation"
	      					
             id="model.parser"
             name ="SmodlFileParser" >
	      </command>
   </extension>

</plugin>
