<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="no.hib.dpf.editor.signature.SignatureEditor"
            contributorClass="no.hib.dpf.editor.signature.SignatureEditorActionBarContributor"
            default="false"
            extensions="sig"
            id="no.hib.dpf.signature.editor"
            name="Signature">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="no.hib.dpf.editor"
            class="no.hib.dpf.editor.signature.SignatureWizard"
            id="no.hib.dpf.signature.wizard"
            name="Signature Wizard">
      </wizard>
   </extension>

</plugin>
